* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button {
    width: 100px;
    height: 100px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background: #a200ff;
}

#paper {
    background: #9ee01a;
}

#scissors {
    background: #7dbeed;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.your-score span {
    color: blue;
}

.machine-score span {
    color: red;
}