* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    font-family: "Oswald", serif;
}

main {
    width: 100%;
    height: 100%;
}

.section-right {
    width: 60%;
    height: 100vh;
    display: inline-block;
    padding: 150px 100px 123px 136px;
}

h1 {
    width: 368px;
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
    color: #5D5D7D;
}

p {
    max-width: 550px;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: rgba(93, 93, 125, 0.60);
    margin: 15px 0;
}

.section-right-button {
    width: 220px;
    height: 50px;
    background: #9499EA;
    box-shadow: 0px 10px 24px 0px #9499EA19;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.section-left {
    width: 40%;
    height: 100vh;
    background: rgba(93, 93, 125, 0.16);
    display: inline-block;
    position: absolute;
}

header {
    max-width: 450px;
    margin: 24px auto 0;
}

ul {
    display: flex;
}

ul li {
    font-size: 28px;
    color: #5D5D7D;
    margin: 0 auto;
    cursor: pointer;
}

li:nth-child(2) {
    color: rgba(93, 93, 125, 0.40);
}

.logo-image {
    width: 300px;
    position: absolute;
    top: 170px;
    left: -85px;
}